body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: linear-gradient(to bottom, #000408, #002046); /* Seu degradê personalizado */
}

#unity-canvas {
    width: 1280px; /* Ou outro tamanho */
    height: 720px;
}
